{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-transform-imports",
          {
            "element-ui": {
              "transform": "element-ui/lib/{{member}}"
            }
          }
        ]
      ]
    }
  },
  "minify": false
}
